{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block header %}

<div id="header">
    <h1 id="headername">Сократите вашу ссылку</h1>
</div>

{% endblock %}

{% block maincontent %}
<form id='post_form' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сократить</button>
    </form>




{% endblock %}

{% block additional %}

<div id="urls_resutl">
      <h1>Полная ссылка:</h1>
      <h1>{{ full_url }}</h1>
      <h1>Сокращённая ссылка:</h1>
      <h1>{{ url_hash }}</h1>
      </div>
<h2>
<a href="{% url 'my_urls' %}">Мои ссылки</a>
{% endblock %}
    </h2>


</body>
</html>



