{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Сократить ссылку</title>
</head>
<body>
{% block header %}
<div id="header">
    <h1 id="headername">Сократте вашу ссылку</h1>
</div>
{% endblock %}
<h1>{{ user }}</h1>

{% block maincontent %}
<a href="{% url 'my_urls' %}">Мои ссылки</a>


<form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">Сократить</input>
    </form>
<h1>{{ nick }}</h1>
{% endblock %}
</body>
</html>