{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои ссылки</title>
</head>
<body>
{% block header %}
<div id="header">
    <h1 id="headername">Ранее сокращённые вами ссылки</h1>
</div>
{% endblock %}
{% block maincontent %}
<a href="{% url 'cut' %}">
<button>
    Сократить новые ссылки
</button>
    </a>
{% endblock %}
{% block additional %}
{% for url in urls %}
<div id="shorted_url_block">
<h3>{{ url.full_url }} = {{ url.url_hash }}</h3>
</div>
{% endfor %}
{% endblock %}
</body>
</html>