{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
{% block header %}
<div id="header">
    <h1 id="headername">Регистрация</h1>
</div>
{% endblock %}
{% block login %}
{% endblock %}
{% block maincontent %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
    <a href="{% url 'login' %}">
<button type="button">
    Войти
</button>
    </a>
</form>
{% endblock %}
{% block additional %}

{% endblock %}
</body>
</html>
